<div class="container">
    <h2 style="text-align: center; margin-top: 125px;">O maior catálogo online para pesquisa de filmes do Brasil!</h2>
    <mat-form-field class="search-bar" [floatLabel]="always">

        <input matInput placeholder="Digite o nome do filme..." (keyup)="getMovies($event)">
    </mat-form-field>
</div>

<div class="mini-card-container">
    <div *ngFor="let movie of movies" class="mini-cards">
        <mat-chip-list>
            <mat-chip color="primary" selected class="mat-elevation-z2" routerLink="/detail/{{movie.id}}">
                <i class="material-icons">
                    slideshow
                </i>
                {{movie?.title}}
            </mat-chip>
        </mat-chip-list>
    </div>
</div>