.search-bar{
    width: 80vw;
}
.container{
    justify-content: center;
    margin: 75px 0 0 25px;
}
.mini-cards{
    display: inline-flex;
    border-radius: 3px;
    flex-wrap: wrap;
    margin: 0px 20px 20px 0px;
}
.mini-card-container{
    padding: 25px;
}
.mini-card-title{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
mat-chip{
    cursor: pointer;
}
