<mat-form-field class="search-bar container">
    <h3>Busque por seu filme favorito!</h3>
    <input matInput (keyup)="getMovies($event)">
</mat-form-field>




<div class="mini-card-container">
    <div *ngFor="let movie of movies" class="mini-cards mat-elevation-z2" routerLink="/detail/{{movie.id}}">
        <div>
            <img src="https://image.tmdb.org/t/p/w92{{movie.poster_path}}" class="mini-card-image" />
        </div>
        <div class="mini-card-title">
            {{movie?.title}}
        </div>
    </div>
</div>