
.fixed-top{
  top: 0;
  position: fixed;
  z-index:999;
  width: 100vw;
  background-color: white;
}
.logo{
  width: 140px;
  height: auto;
  align-items: center
}
ul{
  padding:0;
  margin:0;
}
mat-toolbar-row{
  padding:0;
}