.movie-poster{
    width: 300px;
}
.container{
    margin-top: 105px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.back {
    position: absolute;
    width: auto; 
    max-height: 100vh; 
    top: 0; 
    left: 0; 
    opacity: .2; 
    z-index: -1;
    background-image: linear-gradient(to bottom, rgba(239,239,239,255), rgba(239,239,239,0));
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
mat-chip-list{
    display: flex;
    flex-wrap: wrap;
}
mat-card{
    padding: 0px;
    max-width: 300px;
}
mat-card-title{
    margin: 0;
    padding: 0px;
}
.card-content{
    margin-top: 325px;
}