.movie-poster{
    width: 300px;
}
.container{
    margin-top: 105px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.bg {
    background-position: center center;
			background-repeat:  no-repeat;
			background-attachment: fixed;
			background-size:  cover;
			background-color: #999;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
mat-chip-list{
    display: flex;
    flex-wrap: wrap;
}
mat-card{
    padding: 0px;
    max-width: 300px;
}
mat-card-title{
    margin: 0;
    padding: 0px;
}
.card-content{
    margin-top: 325px;
}