<app-navbar></app-navbar>
<div>

</div>
<div class="container">
    <div style="margin-right: 10px;">
        <img src="https://image.tmdb.org/t/p/original{{movie.poster_path}}" class="movie-poster" />
    </div>
    <div>
        <mat-card>
            <div style="padding: 15px; margin: 0">
                <mat-card-title style="padding: 10px;">
                    {{movie.title}}
                </mat-card-title>
                <mat-card-content>
                    <mat-card-subtitle>
                        {{movie.overview}}
                    </mat-card-subtitle>
                </mat-card-content>
                <ul>
                    <mat-chip-list>
                        <li *ngFor="let genre of movie.genres">
                                <mat-chip  color="primary" selected>{{genre.name}} </mat-chip> 
                        
                            
                        </li>
                    </mat-chip-list>
                </ul>
            </div>
        </mat-card>
    </div>




</div>


<app-footer></app-footer>