.movie-poster{
    max-width: 150px;
}

#trending{
    cursor: pointer;
}
.container {
    margin-top: 75px;
    align-items: center;
}
li{
    list-style: none;
}
ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#no-wrap-please{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width:140px; 
}
.card{
    margin: 0px 5px 5px 0;
}