.movie-poster{
    max-width: 130px;
}

.container {
    align-items: center;
    justify-content: center;
}
li{
    list-style: none;
}
ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}
#no-wrap-please{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width:120px; 
}
.card{
    cursor: pointer;
    margin: 0px 5px 5px 0;
}