<div class="container">
    <h2 style="margin: 0 0 0 40px;">Tendências da semana</h2>
    <ul>
        <li *ngFor="let movie of movies">
            <div class="card">
            <mat-card routerLink="/detail/{{movie.id}}" class="movie-poster" id="trending">
                <mat-card-header> 
                    <mat-card-title id="no-wrap-please">{{movie.title}}</mat-card-title>
                </mat-card-header>
                <img src="https://image.tmdb.org/t/p/original{{movie.poster_path}}" class="movie-poster" />
            </mat-card>
            </div>
        </li>
    </ul>
</div>